body
{
 background-image:url("http://res.cloudinary.com/kartrocket/image/fetch/w_873,q_auto,h_373,c_pad,b_white,f_auto,fl_progressive/http%3A%2F%2Fkartrocket-mtp.s3.amazonaws.com%2Fall-stores%2Fimage_gifttoys%2Fdata%2FOnline-Toys.jpg");
 background-size:cover;
 position:relative;
 height:50%
 background-repeat: no-repeat;
 background-attachment:fixed;
}
h1
{
 font-family:Palatino 'Palatino linotype' serif;
 color:#2e69a3;
 text-align:center;
}
.hero img
{
 width:50px;
 height:50px;
}
.hero li
{
 display:inline-block;
}
.city li
{
 display:inline-block
}
.city h3
{
font-family:Georgia,serif;
font-size: 22px;
color:Chocolate;

}
.city img
{
 width:60px;
 height:60px;
}


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    float:right;
    top:0;
    position:absolute;  right:0; 

}

.city li
{
 display:inline-block
}
.city h3
{
font-family:Georgia,serif;
font-size: 22px;
color:red;

}
.city img
{
 width:80px;
 height:100px;
}
.subscribe-content
{
 float:right;
}
html
{
 margin:0;
 padding:0;
height:100%
width:100%
overflow:hidden;
}
.banner
{
 margin:0px auto;
 padding:0;
 height:10%;
 width:100%;
 overflow:hidden;
 border:solid;
 background-color:blue;
border-color:81daf5;
border-width:0px 0px 5px 0px;
}

@keyframes example 
{
    from {background-color:yellow;}
    to {background-color:orange;}
}
.description
{
color:yellow;
text-align:center;

}

.w3-content{
    padding-top: 200px; 
}

